/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common CSS */
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;

}
h1{
    margin: 0;
}
.container{
    width: 1160px;
    margin: 0;
}

header{
   
    width: 100%;
    background-color: rgb(71, 10, 240);
    color: white;
    display: flex;
    flex-direction: column;
 align-items: center;

 margin-bottom: 33px;
}


.nav_item a{
text-decoration: none;
color:white;
margin-right: 36px;
font-weight: 500;
font-size: 16px;
line-height: 24px;
}

nav{
   
    margin-top: 52px;
}

.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* =======================Banner Style Start ======================================================*/


.banner{
    display: flex;
    flex-wrap: wrap;
    margin-top: 85px;
  
}

.banner_text{
    margin-right: 102px;
    margin-bottom: 169px;
   
   
}
.banner_text h1{
    font-weight: 700;
font-size: 64px;
line-height: 80px;
margin-bottom: 63px;

}
.banner_text a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: #E02C6D;;
    padding: 10px 24px;
   
   
}

.banner_img img{
    width: 556.01px;
height: 438px;
}

/* =======================Banner Style End ======================================================*/

/* =======================Player blog Style End ======================================================*/
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.player{
    margin: 15px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(199, 197, 197, 0.651);

}
.player_img img{
    width: 100%;
height: 256px;
}
.player_text h2{
margin: 0px;
font-weight: 700;
font-size: 28px;
line-height: 40px;
}
.player_text h5{
    margin: 0px;
    font-weight: 400;
font-size: 16px;
line-height: 26px;
    }






    .lower_banner{
        display: flex;
      
      
    }
    
    .lower_banner_text{
        margin-right: 102px;
    margin-bottom: 169px;
       
    }
    .lower_banner_text h2{
        margin-bottom: 0px;
       font-weight: 700;
       font-size: 48px;
       line-height: 60px;
      margin-top: 224px;
    
    }
    .lower_banner_text h5{
 
margin-top: 0;
margin-bottom: 63px;
       
    }
    .lower_banner_text a, .button{
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        background-color: #E02C6D;;
        padding: 10px 24px;
       
    
       
       
    }
    
    .lower_banner_img img{
        width: 567px;
        height: 427px;
        margin-top: 165px;
    }    




    .footer_content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_content img{
        width: 483.87px;
        height: 110px;
    }

    .footer_content p a img{
        width: 32px;
        height: 32px;
        margin-right: 14px;
        margin-top: 20px;
    }

    .copyright{
        margin:0;
    }

    
    /* ===============================Responsive================ */
    @media only screen and (max-width:500px){
        .container{
            width: 100%;
            padding: 0 30px;
        }

        .nav{
            justify-content: right;
        }
        .nav_item{
            display: none;
        }
        .login{
            display: block;
            margin-right: 56px;
        }

        .banner{
            display: grid;
            grid-template-columns: repeat(1,1fr);
        }

        .banner_img img{
            width: 329px;
            height: 259.17px;
        }

        .banner_text{
            margin-bottom: 50px;
        }
        .banner_text h1{
            font-weight: 700;
            font-size: 36px;
            line-height: 50px;
        margin-bottom: 30px;
        
        }

        .players{
         
            grid-template-columns: repeat(1,1fr);
        
        }
    }